.container{
  width: 70%;
  margin: 0 auto;
}
.mg-top-40{
  margin-top: 40px;
}
.mg-top{
  margin-top: 20px;
}
.mg-bottom{
  margin-bottom: 20px;
}
.mg-bottom-40{
  margin-bottom: 40px;
}
.pd-top{
  padding-top: 40px;
}
.w-50{
  width: 50%;
}
.txt-center{
  text-align: center;
}
.display-none{
  display: none;
}
a{
  color: black;
  text-decoration: none;
}
