.container{
  width: 70%;
  margin: 0 auto;
}
.mg-top{
  margin-top: 40px;
}
.mg-bottom{
  margin-bottom: 20px;
}
.pd-top{
  padding-top: 40px;
}
.w-50{
  width: 50%;
}
.txt-center{
  text-align: center;
}
