<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./assets/css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>one-instructor</title>
  </head>
  <body>

    <div id="root">
      <header>
          <nav class="container">
            <div class="logo">
              <img src="./assets/images/MasterStudy-1.svg" alt="logo">
            </div>
            <div class="nav-bar-list">
              <ul>
                <li v-for="links in link_list"> <span v-if="(links.new == 1)">NEW</span><a href="#">{{ links.name }}</a></li>
                <li v-for="item in icons"><i :class=' `${item.icone}`' ></i></li>

              </ul>
            </div>
          </nav>

          <div class="jumbo">
           <div class="container">
            <div class="text-jumbo">
              <h1 class="mg-bottom">Start your Human <span class="color-yellow">Revolution</span> today</h1>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </div>
            <div class="banner mg-bottom">
              <h2 class="mg-top mg-bottom"><span class="color-white">Limited Sale:</span> All courses with 55% off</h2>
              <input  type="text" placeholder="Enter your E-mail" >
              <button type="button" >SUBSCRIBE</button>
              <div class="coundown">
                <div class="days">
                  <p class="number">26</p>
                  <p>Days</p>
                </div>
                <div class="hours">
                  <p class="number">01</p>
                  <p>Hours</p>
                </div>
                <div class="minutes">
                  <p class="number">47</p>
                  <p>Minutes</p>
                </div>
                <div class="seconds">
                  <p class="number">34</p>
                  <p>Seconds</p>
                </div>
              </div>
            </div>    <!-- chiusura banner -->
          </div>
          </div>
          <div class="container founder mg-bottom">
            <div class="title w-50">
              <h2>Hey there, my name is John Doe. I'm the founder of the Brain Academy.</h2>
              <img class="mg-top" src="./assets/images/sign.jpg" alt="">
            </div>
            <div class="biography w-50">
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of theimpenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary</p>
            </div>
          </div>
      </header>
      <main>
        <div class="container">
          <h1 class="txt-center mg-bottom pd-top">New Courses</h1>
          <div class="contenitore">

            <div class="card">
              <div class="card-image card-image-1">
                <div class="oscuro display-none"></div>
                <span class="position">SPECIAL</span>
                <p class="display-none">$59</p>
              </div>
              <div class="card-text">
                <h3 class="txt-center mg-bottom" >How to be a DJ? Make Electronic Music</h3>
                <p class="mg-bottom">Electronic</p>
                <div class="level">
                  <span><i class="fas fa-signal"></i> Intermediate</span>
                  <span><i class="fas fa-list"></i> 8 Lectures</span>
                  <span><i class="far fa-clock"></i> 6 hours</span>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-image card-image-2">
                <div class="oscuro display-none"></div>
                <span class="position">SPECIAL</span>
                <p class="display-none">$59</p>
              </div>
              <div class="card-text">
                <h3 class="txt-center mg-bottom" >How to be a DJ? Make Electronic Music</h3>
                <p class="mg-bottom">Electronic</p>
                <div class="level">
                  <span><i class="fas fa-signal"></i> Intermediate</span>
                  <span><i class="fas fa-list"></i> 8 Lectures</span>
                  <span><i class="far fa-clock"></i> 6 hours</span>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-image card-image-3">
                <div class="oscuro display-none"></div>
                <span class="position">SPECIAL</span>
                <p class="display-none">$59</p>
              </div>
              <div class="card-text">
                <h3 class="txt-center mg-bottom" >How to be a DJ? Make Electronic Music</h3>
                <p class="mg-bottom">Electronic</p>
                <div class="level">
                  <span><i class="fas fa-signal"></i> Intermediate</span>
                  <span><i class="fas fa-list"></i> 8 Lectures</span>
                  <span><i class="far fa-clock"></i> 6 hours</span>
                </div>
              </div>
            </div>
          </div>

          <div class="contenitore">
            <div class="card">
              <div class="card-image card-image-4">
                <div class="oscuro display-none"></div>
                  <p class="display-none">$59</p>
              </div>
              <div class="card-text">
                <h3 class="txt-center mg-bottom" >How to be a DJ? Make Electronic Music</h3>
                <p class="mg-bottom">Electronic</p>
                <div class="level">
                  <span><i class="fas fa-signal"></i> Intermediate</span>
                  <span><i class="fas fa-list"></i> 8 Lectures</span>
                  <span><i class="far fa-clock"></i> 6 hours</span>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-image card-image-5">
                <div class="oscuro display-none"></div>
                    <p class="display-none">$59</p>
              </div>
              <div class="card-text">
                <h3 class="txt-center mg-bottom" >How to be a DJ? Make Electronic Music</h3>
                <p class="mg-bottom">Electronic</p>
                <div class="level">
                  <span><i class="fas fa-signal"></i> Intermediate</span>
                  <span><i class="fas fa-list"></i> 8 Lectures</span>
                  <span><i class="far fa-clock"></i> 6 hours</span>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-image card-image-6">
                  <div class="oscuro display-none"></div>
                  <p class="display-none">$59</p>
              </div>
              <div class="card-text">
                <h3 class="txt-center mg-bottom" >How to be a DJ? Make Electronic Music</h3>
                <p class="mg-bottom">Electronic</p>
                <div class="level">
                  <span><i class="fas fa-signal"></i> Intermediate</span>
                  <span><i class="fas fa-list"></i> 8 Lectures</span>
                  <span><i class="far fa-clock"></i> 6 hours</span>
                </div>
              </div>
            </div>
          </div>

          <div class="bottone">
            <button type="button" name="button">LOAD MORE</button>
          </div>
        </div>

        <section class="jumbo-2">
          <div class="container">
            <div class="jumbo-2-text">
              <h2 class="mg-bottom">Get My Exclusive Investing book just fot $19.50</h2>
              <p class="mg-bottom">Vestibulum imentum eu urna vel cursus. Aenean veichula quam quam, vitae pellentesqua urna elementum cursus.</p>
              <div class="amazon">
                <img src="./assets/images/amazon.png" alt="">
              </div>
            </div>
            <div class="img">
              <img src="./assets/images/book.png" alt="">
            </div>
          </div>
        </section>

        <section class="courses">
          <div class="container">
          <h1 class="mg-bottom">Why my corses?</h1>

            <div class="raccolta">
              <div class="card-1 w-50">
                <!-- <i class="fa-icon-stm_icon_briefcase"></i> -->
                <i class="fas fa-briefcase"></i>
                <div class="card-1-text">
                  <h3 class="mg-bottom">Entrepreneurship</h3>
                  <p>Vestibulum vitae aliquam nunc. Suspendisse mollis metus ac tellus egestas pharetra. Suspendisse at viverra purus. Pellentesque nec posuere ligula, eu congue leo. Integer vulputate tempor arcu. Vestibulum vulputate</p>
                </div>
              </div>

              <div class="card-1 w-50">
                <!-- <i class="fa-icon-stm_icon_briefcase"></i> -->
                <i class="fas fa-rocket"></i>
                <div class="card-1-text">
                  <h3 class="mg-bottom">Entrepreneurship</h3>
                  <p>Vestibulum vitae aliquam nunc. Suspendisse mollis metus ac tellus egestas pharetra. Suspendisse at viverra purus. Pellentesque nec posuere ligula, eu congue leo. Integer vulputate tempor arcu. Vestibulum vulputate</p>
                </div>
              </div>
            </div>
            <div class="raccolta">
              <div class="card-1 w-50">
                <!-- <i class="fa-icon-stm_icon_briefcase"></i> -->
                <i class="far fa-thumbs-up"></i>
                <div class="card-1-text">
                  <h3 class="mg-bottom">Entrepreneurship</h3>
                  <p>Vestibulum vitae aliquam nunc. Suspendisse mollis metus ac tellus egestas pharetra. Suspendisse at viverra purus. Pellentesque nec posuere ligula, eu congue leo. Integer vulputate tempor arcu. Vestibulum vulputate</p>
                </div>
              </div>

              <div class="card-1 w-50">
                <!-- <i class="fa-icon-stm_icon_briefcase"></i> -->
                <i class="fas fa-cog"></i>
                <div class="card-1-text">
                  <h3 class="mg-bottom">Entrepreneurship</h3>
                  <p>Vestibulum vitae aliquam nunc. Suspendisse mollis metus ac tellus egestas pharetra. Suspendisse at viverra purus. Pellentesque nec posuere ligula, eu congue leo. Integer vulputate tempor arcu. Vestibulum vulputate</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="jumbo-3">
            <div class="icon">
              <i class="fas fa-user-friends"></i>
              <div class="column">
                <span class="number">3195</span>
                <span>Online Learner</span>
              </div>
            </div>
            <div class="icon">
              <i class="fas fa-play"></i>
              <div class="column">
                <span class="number">23</span>
                <span>Video Courses</span>
              </div>
            </div>
            <div class="icon">
              <i class="far fa-image"></i>
              <div class="column">
                <span class="number">437</span>
                <span>Sliders & Images</span>
              </div>
            </div>
            <div class="icon">
              <i class="far fa-thumbs-up"></i>
              <div class="column">
                <span class="number">1440</span>
                <span>Excellent Reviews</span>
              </div>
            </div>
        </section>

        <section class="students">
          <div class="container">
            <h2>What Students Say</h2>
            <div class="carosel">
              <div class="arrow-left">
                <i class="fas fa-arrow-left" @click="prev"></i>
              </div>
              <div class="images">
                <img v-for="(img,index) in img_array" :class="(index == i) ? 'active' : '' " :src="`${img.srcc}`" alt="">
              </div>
              <div class="arrow-right">
                <i class="fas fa-arrow-right" @click="next"></i>
              </div>
            </div>
            <div class="text">
              <h3 class="mg-bottom" v-for="(title,index) in text" v-if="(index == i)">{{title.h3}}</h3>
              <div class="star mg-top-20 mg-bottom-40"> <i v-for="star in 5" class="fas fa-star"></i></div>
              <p v-for="(p,index) in text"  v-if="(index == i)"> {{p.p}}</p>
            </div>
          </div>

        </section>

      </main>
      <footer>
        <div class="container">
          <div class="about ">
            <h3 v-for="item in about">{{item.title}}</h3>
            <ul>
              <li v-for="item in about"><a href="#">{{item.testo}}</a></li>
              <div class="icone">
              <li v-for="icon in about[0].icone">  <i :class='`${icon}`'></i></li>
              </div>
            </ul>
          </div>

          <div class="contact">
              <h3 v-for="item in contact">{{item.title}}</h3>
              <ul>
                <li v-for="item in contact"><a href="#">{{item.testo}}</a></li>
              </ul>
          </div>

        </div>
      </footer>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
