* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.mg-top-40 {
  margin-top: 40px;
}

.mg-top {
  margin-top: 20px;
}

.mg-bottom {
  margin-bottom: 20px;
}

.mg-bottom-40 {
  margin-bottom: 40px;
}

.pd-top {
  padding-top: 40px;
}

.w-50 {
  width: 50%;
}

.txt-center {
  text-align: center;
}

.display-none {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

header .jumbo {
  background-image: url("../images/slide-1.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
}
header .jumbo .text-jumbo {
  position: absolute;
  top: 147px;
  right: 300px;
  width: 486px;
}
header .jumbo .text-jumbo h1 {
  font-size: 55px;
}
header .jumbo .text-jumbo h1 span.color-yellow {
  color: #f21d4b;
}
header .jumbo .text-jumbo p {
  color: #bcbcbc;
  font-size: 16px;
}
header .jumbo .banner {
  height: 180px;
  width: 70%;
  padding: 0px 60px;
  background-color: #f21d4b;
  border-radius: 10px;
  position: absolute;
  bottom: -70px;
}
header .jumbo .banner h2 {
  margin-top: 30px;
}
header .jumbo .banner h2 .color-white {
  color: white;
}
header .jumbo .banner input {
  height: 50px;
  border-radius: 50px;
  width: 430px;
  padding-left: 20px;
  border: 0;
}
header .jumbo .banner button {
  border-radius: 50px;
  height: 50px;
  width: 100px;
  padding-left: -30px;
  margin-left: -104px;
  background-color: #2d4649;
  color: white;
  border: 0;
}
header .jumbo .banner .coundown {
  display: flex;
  position: absolute;
  top: 25px;
  right: 40px;
}
header .jumbo .banner .coundown .days, header .jumbo .banner .coundown .hours, header .jumbo .banner .coundown .minutes, header .jumbo .banner .coundown .seconds {
  display: flex;
  margin: 20px 20px;
  flex-direction: column;
}
header .jumbo .banner .coundown .number {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
}

header .founder {
  margin-top: 180px;
  display: flex;
}
header .founder .title {
  margin-left: 30px;
}
header .founder .title h2 {
  width: 66%;
}
header .founder .title img {
  margin-left: 91px;
  width: 150px;
}
header .founder .biography {
  margin-right: 30px;
}
header .founder .biography p {
  color: #bcbcbc;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .nav-bar-list > ul {
  display: flex;
  list-style: none;
}
nav .nav-bar-list > ul li {
  margin: 0 5px;
}
nav .nav-bar-list > ul li span {
  position: absolute;
  top: -15px;
  right: 0;
  background: red;
  border-radius: 5px;
  font-size: 10px;
  padding: 2px 5px;
  color: white;
}
nav .nav-bar-list > ul li .special-new {
  position: relative;
}
nav .nav-bar-list > ul li > a {
  color: black;
  text-decoration: none;
}
nav .nav-bar-list > ul li > a:last-child {
  margin-right: 10px;
}
nav i.fa-bars {
  display: none;
}

main {
  margin-top: 80px;
  background-color: #EDF2F5;
}
main .contenitore {
  display: flex;
  flex-wrap: wrap;
}
main .contenitore .card {
  margin: 20px 10px;
  width: calc(100%/3 - 20px);
}
main .contenitore .card:hover .oscuro {
  display: block;
  box-shadow: 0 5px 15px rgba(51, 51, 51, 0.2);
  cursor: pointer;
}
main .contenitore .card:hover .card-text {
  box-shadow: 0 5px 15px rgba(51, 51, 51, 0.2);
}
main .contenitore .card:hover p {
  display: block;
}
main .contenitore .card .card-image-1 {
  background-image: url("../images/dj.jpeg");
}
main .contenitore .card .card-image-2 {
  background-image: url("../images/unreal.png");
  background-size: cover;
  background-position: center;
}
main .contenitore .card .card-image-3 {
  background-image: url("../images/piedi.jpeg");
}
main .contenitore .card .card-image-4 {
  background-image: url("../images/scrivania.jpeg");
}
main .contenitore .card .card-image-5 {
  background-image: url("../images/book.jpg");
}
main .contenitore .card .card-image-6 {
  background-image: url("../images/bike.jpeg");
}
main .contenitore .card .card-image {
  height: 200px;
  position: relative;
}
main .contenitore .card .card-image .oscuro {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}
main .contenitore .card .card-image > p.display-none {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  line-height: 40px;
  color: white;
}
main .contenitore .card .card-image > span.position {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f21d4b;
  height: 20px;
  color: white;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
main .contenitore .card .card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 18px;
  background-color: white;
}
main .contenitore .card .card-text:hover h3 {
  color: #f21d4b;
  cursor: pointer;
}
main .contenitore .card .card-text p {
  font-size: 12px;
  color: #bcbcbc;
}
main .contenitore .card .card-text .level {
  border-top: 1px solid #bcbcbc;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
main .contenitore .card .card-text .level span {
  padding: 12px;
  font-size: 11px;
}
main .contenitore .card .card-text .level span > i {
  color: #f21d4b;
}
main .bottone {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-top: 30px;
}
main .bottone button {
  background-color: #f21d4b;
  border: 1px solid #f21d4b;
  border-radius: 30px;
  padding: 12px 20px;
  color: white;
  font-size: 15px;
}
main .bottone button:hover {
  background-color: #f21d4b;
  opacity: 0.7;
  cursor: pointer;
}
main .jumbo-2 {
  background-image: url("../images/jumbo-2.jpg");
  height: 400px;
  padding-bottom: 40px;
  display: flex;
}
main .jumbo-2 .jumbo-2-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 452px;
  padding-top: 100px;
}
main .jumbo-2 .jumbo-2-text h2 {
  font-size: 31px;
  color: #f21d4b;
}
main .jumbo-2 .jumbo-2-text p {
  font-size: 20px;
  color: white;
}
main .jumbo-2 .jumbo-2-text .amazon img {
  width: 150px;
}
main .jumbo-2 .img {
  display: flex;
  justify-content: flex-end;
  margin-top: -303px;
}
main .jumbo-2 .img img {
  height: 362px;
}
main .courses {
  background-color: #FAFAFA;
  padding-top: 40px;
  padding-bottom: 60px;
}
main .courses h1 {
  text-align: center;
  font-size: 50px;
}
main .courses .raccolta {
  display: flex;
  flex-wrap: wrap;
}
main .courses .raccolta .card-1 {
  background-color: white;
  margin: 20px 20px;
  position: relative;
  border-left: 5px solid #f21d4b;
  box-shadow: 0 5px 15px rgba(51, 51, 51, 0.2);
}
main .courses .raccolta .card-1:hover {
  background-color: #f21d4b;
  cursor: pointer;
}
main .courses .raccolta .card-1:hover i {
  color: white;
}
main .courses .raccolta .card-1:hover .card-1-text p {
  color: black;
}
main .courses .raccolta .card-1.w-50 {
  width: calc(100%/2 - 40px);
}
main .courses .raccolta .card-1 > i {
  position: absolute;
  top: 45px;
  left: 30px;
  font-size: 50px;
  color: #f21d4b;
}
main .courses .raccolta .card-1 .card-1-text {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 45px;
  margin-right: 30px;
  margin-bottom: 50px;
}
main .courses .raccolta .card-1 .card-1-text p {
  color: #bcbcbc;
}
main .jumbo-3 {
  padding-top: 40px;
  background-image: url("../images/school.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
}
main .jumbo-3 .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}
main .jumbo-3 .icon i {
  font-size: 50px;
  color: white;
  margin: 0 20px;
}
main .jumbo-3 .icon .column {
  display: flex;
  flex-direction: column;
  color: white;
}
main .jumbo-3 .icon .column .number {
  font-size: 25px;
  color: #f21d4b;
}
main .students {
  background-color: white;
  padding-top: 10px;
}
main .students > .container {
  width: 45%;
}
main .students h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 40px;
}
main .students .carosel {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 60px;
}
main .students .carosel .arrow-left, main .students .carosel .arrow-right {
  display: flex;
  align-items: center;
  margin: 0 50px;
  font-size: 25px;
}
main .students .carosel .images img {
  border-radius: 50%;
  margin: 0 10px;
  width: 80px;
}
main .students .carosel .images img.active {
  width: 110px;
}
main .students .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .students .text h3 {
  font-family: "Roboto Slab";
  font-size: 22px;
}
main .students .text .star {
  display: flex;
  color: #f21d4b;
}
main .students .text p {
  text-align: center;
  color: #bcbcbc;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 28px;
}

footer {
  background-color: #f21d4b;
  margin-top: 50px;
}
footer .container {
  display: flex;
}
footer .footer {
  width: calc(100%/4 - 10px);
  margin-top: 50px;
  margin-right: 10px;
}
footer .about ul {
  list-style: none;
}
footer .about ul li {
  margin-right: 10px;
  margin-top: 10px;
}
footer .about ul .icone {
  display: flex;
}
footer .contact ul {
  list-style: none;
}
footer .contact ul li {
  margin-right: 10px;
  margin-top: 10px;
}
footer .contact ul li .no-margin {
  margin-top: -10px;
}
footer .pages .div {
  display: flex;
}
footer .pages .altra-column {
  margin-left: 40px;
}
footer .blog {
  display: flex;
  flex-direction: column;
}
footer .blog h3 {
  margin: 0 10px;
}
footer .blog .part-1, footer .blog .part-2 {
  display: flex;
  margin: 10px;
}
footer .blog img {
  height: 80px;
  width: 80px;
}
footer .blog .column {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}
footer .blog .column .colorato {
  color: #bcbcbc;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 80%;
  }

  header .jumbo .banner {
    width: 80%;
  }

  main .students .carosel .arrow-left, main .students .carosel .arrow-right {
    margin: 0 15px;
  }
}
@media screen and (max-width: 1150px) {
  header .jumbo .banner .coundown {
    right: 0;
    top: 34px;
  }
  header .jumbo .banner .coundown .number {
    font-size: 30px;
  }

  header .jumbo .text-jumbo {
    right: 160px;
  }

  header .jumbo .banner input {
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }

  header .jumbo .banner {
    width: 100%;
  }

  header .jumbo .banner .coundown {
    right: 10px;
    top: 34px;
  }
  header .jumbo .banner .coundown .number {
    font-size: 40px;
  }

  header .jumbo .banner input {
    width: 400px;
  }

  main .students .carosel .arrow-left, main .students .carosel .arrow-right {
    margin: 0px 0px;
  }

  main .students .carosel .images img {
    width: 60px;
  }
  main .students .carosel .images img.active {
    width: 90px;
  }

  footer .container {
    display: flex;
    flex-wrap: wrap;
  }

  footer .footer {
    width: calc(100%/2 - 30px);
    margin-left: 15px;
  }

  footer .blog img {
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 820px) {
  header .jumbo .text-jumbo {
    right: 10px;
  }

  header .jumbo .banner {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .jumbo .banner .coundown {
    position: static;
  }
  header .jumbo .banner .coundown .days, header .jumbo .banner .coundown .hours, header .jumbo .banner .coundown .minutes, header .jumbo .banner .coundown .seconds {
    margin: 10px 10px;
  }
  header .jumbo .banner .coundown .number {
    font-size: 35px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }
  nav .logo, nav .fa-bars {
    margin: 18px;
  }
  nav .fa-bars {
    font-size: 20px;
    color: #f21d4b;
  }

  nav .nav-bar-list > ul {
    display: none;
  }

  nav i.fa-bars {
    display: block;
  }

  .nav-md {
    width: 95%;
    margin: 0 auto;
    background-color: #EFF2F5;
    margin-bottom: 20px;
  }
  .nav-md ul {
    border-top: 3px solid #e5e5e5;
  }
  .nav-md ul li {
    border-bottom: 1px solid lightgray;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 25px;
  }
  .nav-md .input-search {
    display: flex;
  }
  .nav-md .input-search input {
    height: 40px;
    border: 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding-left: 25px;
    font-size: 15px;
  }
  .nav-md .input-search .search {
    width: 50px;
    background-color: #f21d4b;
    border: 0;
  }
  .nav-md .input-search .search i {
    font-size: 15px;
  }

  header .jumbo .banner {
    height: 250px;
  }

  main .contenitore .card {
    margin: 20px 20px;
    width: calc(100%/2 - 40px);
  }

  main .courses .raccolta .card-1.w-50 {
    width: calc(100%/1 - 40px);
  }

  main .jumbo-3 {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .jumbo-3 .icon {
    margin: 20px;
    flex-direction: column;
  }
  main .jumbo-3 .icon .column {
    align-items: center;
  }
  main .jumbo-3 .icon i {
    margin: 0 0;
  }

  main .students > .container {
    width: 100%;
  }

  main .students .carosel .images img {
    width: 80px;
  }
  main .students .carosel .images img.active {
    width: 110px;
  }
}
@media screen and (max-width: 528px) {
  header .jumbo .text-jumbo {
    right: -15px;
  }
  header .jumbo .text-jumbo h1 {
    font-size: 40px;
  }

  header .jumbo .banner .coundown {
    display: none;
  }

  header .jumbo .banner button {
    margin-left: 0px;
    width: 100%;
    margin-top: 15px;
  }

  main .contenitore .card {
    width: calc(100%/1 - 40px);
  }

  footer .footer {
    width: calc(100%/1 - 30px);
  }
}
